<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
        @import url(//fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);
        @import url(//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css);

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        table {
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        .swal-option {
            display: grid !important;
        }

        .container {
            height: 100%;
        }

        body {
            background-color: white;
            color: black;
            font-size: 25px;
            height: 100vh;
        }
    </style>

    <title>STORE MANAGER - CJ 배송 조회</title>
    <link rel="icon" type="image/x-icon" href="https://imgur.com/YPhrrAJ.png">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

    <meta name="google-signin-client_id"
        content="36522862962-n5ba78aee74h5jggnppe3udfoupipu35.apps.googleusercontent.com">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email">
</head>

<body>
    <div class="container align-items-center justify-content-center">
        <p></p>
        <div class="d-flex" style="width: 680px; margin: auto">
            <form action="/">
                <button type="submit" style="background: none; border: none; outline: none">
                    <i id="home-icon" class="fa fa-home" style="font-size: 32px; margin: 1px 8px 18px 0px"></i>
                </button>
            </form>
            <h2 style="font-size: 30px; font-weight: 600; margin-bottom: auto">CJ 배송 조회</h2>
        </div>
        <div class="d-flex p-2 border" style="width: 680px; margin: auto">
            <span style="margin: auto">CJ 송장 번호 12자리가 열거된 텍스트를 입력해주세요</span>
            <button id="example-button" type="button" class="btn btn-primary" style="margin: auto; font-size: 14px">
                예시&nbsp;
                <i class="fa fa-question"></i>
            </button>
            <button id="paste-button" type="button" class="btn btn-primary" style="margin: auto; font-size: 14px">
                붙여넣기&nbsp;
                <i class="fa fa-paste"></i>
            </button>
            <button id="upload-button" type="button" class="btn btn-primary" style="margin: auto; font-size: 14px">
                업로드&nbsp;
                <i class="fa fa-upload"></i>
            </button>
            <input id="text-file-input" type="file" hidden />
        </div>
        <div class="container" id="result" style="width: 1120px" hidden>
            <p>&nbsp;</p>
            <div id="sort-form">
                <div class="d-flex" style="float: right; margin: auto">
                    <span id="tracking-amount" style="margin: 10px 8px 0px 0px"></span>
                    <button id="excel-export-button" type="button" class="btn btn-primary"
                        style="margin: 6px 0px; padding: 4px 10px; font-size: 14px">
                        엑셀 파일 (.xlsx)&nbsp;
                        <i class="fa fa-download"></i>
                    </button>
                </div>
            </div>
            <table id="result-table"></table>
            <span>&nbsp;<br>&nbsp;<br></span>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
        <script type="module">
            showLoading('유저 정보를 불러오는 중이에요.')



            // Auth

            import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js'
            import { getAuth, onAuthStateChanged, signInWithCredential, GoogleAuthProvider, signOut } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-auth.js"

            initializeApp({
                apiKey: "AIzaSyDevqbIK-lcqYdqbmfBAWGPrSHlJT7F0FQ",
                authDomain: "store-manager-5d527.firebaseapp.com",
                projectId: "store-manager-5d527",
                storageBucket: "store-manager-5d527.appspot.com",
                messagingSenderId: "36522862962",
                appId: "1:36522862962:web:8a9e9b88373a19add095eb",
                measurementId: "G-37DECVWLYX"
            })

            const auth = getAuth()
            let user

            onAuthStateChanged(auth, async (firebaseUser) => {
                if (firebaseUser) {
                    user = firebaseUser

                    try {
                        let json = await postAsync('/user', { idToken: await user.getIdToken() })

                        if (json.result == 'error') {
                            throw new Error(json.error)
                        }

                        if (json.user.permission == 0) {
                            showNoPermissionError()
                            return
                        }

                        swal.close()
                    }
                    catch (error) {
                        showErrorWithRefresh('유저 정보를 불러오는 도중 오류가 발생했어요.', error.message)
                    }
                } else {
                    swal.fire({
                        title: '잠시만요!',
                        html: '이용하기 전에 로그인 해주세요!',
                        confirmButtonText: '메인으로',
                        allowOutsideClick: false,
                        showCancelButton: false,
                        heightAuto: false,
                    }).then((res) => {
                        let form = document.createElement('form')
                        form.style.visibility = 'hidden'
                        form.method = 'GET'
                        form.action = '/'
                        document.body.appendChild(form)
                        form.submit()
                    })
                }
            })



            // 배송 조회

            let trackingList = []
            const textFileInput = document.getElementById('text-file-input')

            document.getElementById('upload-button').addEventListener('click', () => textFileInput.click())
            textFileInput.addEventListener('change', (event) => {
                let file = event.target.files[0]

                if (!file) {
                    return
                }

                let reader = new FileReader()

                reader.onload = async () => {
                    track(reader.result)
                }

                reader.readAsText(file, 'utf-8')
            })

            document.getElementById('example-button').addEventListener('click', async () => {
                let exampleIndex = 0

                swal.fire({
                    title: '예시',
                    html: `
                        <div style="line-height: 130%;">
                            숫자 이외의 다른 텍스트는 자동으로 제거됩니다.<br>
                            어떤 방식으로든 숫자 사이를 구분해놓으면 됩니다.<br><br>
                        </div>
                        <div id="example-swal" style="font-weight: 500">
                            
                        </div>
                    `,
                    confirmButtonText: '알겠어요',
                }).then(() => {
                    document.getElementById('example-swal').remove()
                })

                while (document.getElementById('example-swal')) {
                    let example

                    switch (exampleIndex) {
                        case 0:
                            example = '517290228869 638444429500 576955233060'
                            break

                        case 1:
                            example = '623054983674, 509717267240, 474057435170'
                            break

                        case 2:
                            example = '517570774347/550191048862/645552411926'
                            break

                        case 3:
                            example = '563997156284-610459116654-508392644830'
                            break
                    }

                    document.getElementById('example-swal').innerText = example

                    exampleIndex++
                    if (exampleIndex >= 4) {
                        exampleIndex = 0
                    }

                    await new Promise(resolve => setTimeout(resolve, 1000))
                }
            })

            document.getElementById('paste-button').addEventListener('click', async () => {
                let clipboard = await navigator.clipboard.readText();
                track(clipboard)
            })

            async function track(text) {
                showLoading('배송 조회를 하는 중이에요.')

                let numericSplit = text.replace(/\D/g, ' ');
                let invcNoList = []

                for (let numeric of numericSplit.split(' ')) {
                    let num = Number(numeric)

                    if (numeric.length == 12) {
                        if (invcNoList.filter((invcNo) => invcNo == num).length <= 0) {
                            invcNoList.push(num)
                        }
                    }
                }

                if (invcNoList.length <= 0) {
                    showWarning('송장번호를 찾지 못했어요.')
                    return
                }

                try {
                    let json = await postAsync('/cjTracking', { idToken: await user.getIdToken(), invcNo: invcNoList })

                    if (json.result == 'no permission') {
                        showNoPermissionError()
                        return
                    }
                    else if (json.result == 'error') {
                        throw new Error(json.error)
                    }

                    trackingList = json.cjTracking
                    updateTable()

                    swal.close()
                }
                catch (error) {
                    showError('배송 조회를 하는 도중 오류가 발생했어요.')
                }
            }



            // 테이블

            const result = document.getElementById('result')
            const resultTable = document.getElementById('result-table')
            const trackingAmount = document.getElementById('tracking-amount')

            let table = []

            document.getElementById('sort-form').addEventListener('input', () => {
                updateTable()
            })

            function updateTable() {
                resultTable.innerHTML = ''
                table = []

                for (let tracking of trackingList) {
                    let row = {
                        id: tracking.id,
                        sender: '',
                        receiver: '',
                        product: '',
                        state: '운송장 미등록',
                        lastUpdateAt: '',
                    }

                    if (tracking.available) {
                        row.sender = tracking.sender
                        row.receiver = tracking.receiver
                        row.product = tracking.product
                    }

                    if (tracking.state) {
                        row.state = tracking.state
                        row.lastUpdateAt = new Date(tracking.lastUpdateAt).toLocaleString('ko-KR')
                    }

                    table.push(row)
                }

                table.sort((a, b) => a.id - b.id)

                let tr = document.createElement('tr')
                resultTable.appendChild(tr)

                let th1 = document.createElement('th')
                th1.innerHTML = '송장 번호'

                let th2 = document.createElement('th')
                th2.innerHTML = '발송인'

                let th3 = document.createElement('th')
                th3.innerHTML = '수령인'

                let th4 = document.createElement('th')
                th4.innerHTML = '제품'

                let th5 = document.createElement('th')
                th5.innerHTML = '상태'

                let th6 = document.createElement('th')
                th6.innerHTML = '최근 업데이트'

                for (let th of [th1, th2, th3, th4, th5, th6]) {
                    th.setAttribute('style', 'font-weight: 600')
                    tr.appendChild(th)
                }

                for (let row of table) {
                    let tr = document.createElement('tr')
                    resultTable.appendChild(tr)

                    let a = document.createElement('a')

                    a.setAttribute('href', `https://www.doortodoor.co.kr/parcel/doortodoor.do?fsp_action=PARC_ACT_002&fsp_cmd=retrieveInvNoACT&invc_no=${row.id}`)
                    a.setAttribute('target', '_blank')
                    a.innerHTML = row.id

                    let th1 = document.createElement('th')
                    th1.appendChild(a)

                    let th2 = document.createElement('th')
                    th2.innerHTML = row.sender

                    let th3 = document.createElement('th')
                    th3.innerHTML = row.receiver

                    let th4 = document.createElement('th')

                    if (row.product.length > 24) {
                        th4.innerHTML = `${row.product.slice(0, 32)} ...`
                    }
                    else {
                        th4.innerHTML = row.product
                    }

                    let th5 = document.createElement('th')
                    th5.innerHTML = row.state

                    let th6 = document.createElement('th')
                    th6.innerHTML = row.lastUpdateAt.toLocaleString('ko-KR')

                    for (let th of [th1, th2, th3, th4, th5, th6]) {
                        th.setAttribute('style', 'font-weight: 400')
                        tr.appendChild(th)
                    }
                }

                trackingAmount.innerText = `${table.length.toLocaleString('ko-KR')}건`
                result.hidden = false
            }



            // 엑셀

            document.getElementById('excel-export-button').addEventListener('click', async () => {
                let ws = XLSX.utils.json_to_sheet(table)

                ws.A1.v = '송장번호'
                ws.B1.v = '발송인'
                ws.C1.v = '수령인'
                ws.D1.v = '제품'
                ws.E1.v = '상태'
                ws.F1.v = '최근 업데이트'

                for (let index = 1; index <= table.length; index++) {
                    let idCell = ws[`A${index}`]
                    idCell.f = `=HYPERLINK("https://www.doortodoor.co.kr/parcel/doortodoor.do?fsp_action=PARC_ACT_002&fsp_cmd=retrieveInvNoACT&invc_no=${idCell.v}", "${idCell.v}")`
                }

                let wb = XLSX.utils.book_new()
                XLSX.utils.book_append_sheet(wb, ws, 'CJ 배송 조회')
                XLSX.writeFile(wb, `CJ 배송 조회.xlsx`)
            })



            // 자주 사용하는 함수

            function showErrorWithRefresh(html, errorMessage) {
                swal.fire({
                    title: '이런!',
                    html: html,
                    icon: 'error',
                    confirmButtonText: '어떻게 된거죠?',
                    cancelButtonText: '새로고침',
                    showCancelButton: true,
                    allowOutsideClick: false,
                    heightAuto: false,
                }).then((res) => {
                    if (res.isConfirmed) {
                        swal.fire({
                            title: '원인',
                            html: errorMessage,
                            confirmButtonText: '새로고침',
                            showCancelButton: false,
                            allowOutsideClick: false,
                            heightAuto: false,
                        }).then(() => location.reload())
                    }
                })
            }

            function showError(html, errorMessage) {
                swal.fire({
                    title: '이런!',
                    html: html,
                    icon: 'error',
                    confirmButtonText: '어떻게 된거죠?',
                    cancelButtonText: '알겠어요',
                    showCancelButton: true,
                    heightAuto: false,
                }).then((res) => {
                    if (res.isConfirmed) {
                        swal.fire({
                            title: '원인',
                            html: errorMessage,
                            confirmButtonText: '알겠어요',
                            showCancelButton: false,
                            heightAuto: false,
                        })
                    }
                })
            }

            function showWarning(html) {
                swal.fire({
                    title: '잠시만요!',
                    html: html,
                    confirmButtonText: '알겠어요',
                    heightAuto: false,
                })
            }

            function showLoading(html) {
                swal.fire({
                    title: '잠시만요!',
                    html: html,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    heightAuto: false,
                })
                swal.showLoading()
            }

            function showNoPermissionError() {
                swal.fire({
                    title: '잠시만요!',
                    html: '관리자만 접근할 수 있어요!',
                    confirmButtonText: '메인으로',
                    allowOutsideClick: false,
                    showCancelButton: false,
                    heightAuto: false,
                }).then((res) => {
                    let form = document.createElement('form')
                    form.style.visibility = 'hidden'
                    form.method = 'GET'
                    form.action = '/'
                    document.body.appendChild(form)
                    form.submit()
                })
            }

            function postAsync(url, params = {}) {
                return new Promise((resolve, reject) => {
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(params),
                    }).then(async (res) => {
                        resolve(await res.json())
                    }).catch((error) => reject(error))
                })
            }
        </script>
</body>

</html>