<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style>
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

    * {
      font-family: 'Jeju Gothic', serif;
    }

    body {
      height: 100vh;
    }

    .container {
      height: 100%;
    }
  </style>

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

  <title>STORE MANAGER</title>
  <link rel="icon" type="image/x-icon" href="https://imgur.com/GqSHXlr.png">
</head>

<body>
  <div id="search-div" class="container d-flex align-items-center justify-content-center"
    style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div>
      <div class="text-center">
        <a href="http://n09company.com" target="_blank"><img src="https://imgur.com/GqSHXlr.png" width="138" height="163"
            style="margin: 120px 0px;"></a>
      </div>
      <div class="input-group rounded p-2">
        <input id="search-input" type="search" class="form-control rounded" style="box-shadow: none;"
          placeholder="스토어 이름 또는 URL" aria-describedby="search-addon" spellcheck="false" />
        </input>
        <button id="search-button" class="btn btn-primary fas fa-search"></input>
      </div>
      <form action="">
        <h6 class="text-center px-2" style="line-height: 130%">스마트스토어 이름을 검색해보세요 ─ 이름으로 검색되지 않는다면 주소도 괜찮아요!
        </h6>
      </form>
      <p style="text-align: center; line-height: 150%; font-size: 14px; margin: 90px 0px">해당 서비스는 ㈜엔공구의 자회사 공구형에서
        개발합니다.<br>현재 베타 서비스
        단계이며 무료로 이용하실 수
        있습니다.<br>후원금은 서비스
        운영을 위한 서버 유지 비용에 사용됩니다.
      </p>
      <p style="text-align: center; line-height: 150%; font-size: 14px; margin: 90px 0px">
        <b>공구형 고객센터</b> 010-3924-8171<br><b>후원 계좌</b> 광주은행 1121-022-248925 (최만수)<br><br>
        <b>상호명</b> 공구형 &nbsp; <b>사업자 번호</b> 226-28-19779 <br> <b>주소</b> 광주광역시 광산구
        하남산단 6번로 57 (지식동 908호)
      </p>
      <p style="text-align: center; font-size: 14px;">Copyrightⓒ2022 N09 All Rights Reserved.</p>
    </div>
  </div>
  <script>
    const searchDiv = document.getElementById('search-div');
    const searchInput = document.getElementById('search-input');
    const searchButton = document.getElementById('search-button');
    const urlValidator = document.getElementById('url-validator');
    const mostVisited = document.getElementById('most-visited');

    var failed = {
      title: '이런!',
      icon: 'error',
      confirmButtonText: '어떻게 된거죠?',
      cancelButtonText: '알겠어요',
      showCancelButton: true,
      heightAuto: false,
    }

    function showError(res, error) {
      if (res.isConfirmed) {
        swal.fire({
          title: '원인',
          html: error,
          confirmButtonText: '알겠어요',
          showCancelButton: false,
          heightAuto: false,
        });
      }
    }

    searchInput.addEventListener('keyup', function (event) {
      if (event.code == 'Enter') {
        search();
      }
    });

    searchButton.addEventListener('click', function (event) {
      search();
    });

    function search() {
      swal.fire({
        title: '잠시만요!',
        text: '스토어에 접속하는 중이에요.',
        showCancelButton: false,
        showConfirmButton: false,
        allowOutsideClick: false,
        heightAuto: false,
      });

      fetch('/searchStore', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ query: searchInput.value }),
      })
        .then(async (res) => {
          var json = await res.json();
          swal.close();

          if (json.result == 'OK') {
            swal.fire({
              title: '스토어 발견!',
              html: `'${json.store_title}' 스토어로 진행 하시겠어요?`,
              icon: 'success',
              confirmButtonText: '네',
              cancelButtonText: '이게 아닌데!',
              showCancelButton: true,
              heightAuto: false,
            }).then((res) => {
              if (res.isConfirmed) {
                var form = document.createElement('form');
                form.style.visibility = 'hidden';
                form.method = 'GET';
                form.action = json.store_url;
                document.body.appendChild(form);
                form.submit();
              }
            });
          }
          else {
            failed.html = '스토어를 검색했지만 찾지 못했어요.<br>검색어를 다시 한 번 확인해주세요.';
            swal.fire(failed).then((res) => showError(res, json.error));
          }
        }).catch((error) => {
          failed.html = '스토어를 검색하지 못했어요.';
          swal.fire(failed).then((res) => showError(res, error));
        });
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
</body>

</html>