<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

    <title>STORE MANAGER</title>
    <link rel="icon" type="image/x-icon" href="https://imgur.com/YPhrrAJ.png">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
    <meta name="google-signin-client_id"
        content="36522862962-n5ba78aee74h5jggnppe3udfoupipu35.apps.googleusercontent.com">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <style>
        @import url(//fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        .g-signin2>div>div>span>span {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="d-flex" style="float: right; margin: 15px">
        <div class="container d-flex align-items-center justify-content-center"
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
            <div>
                <div class="text-center">
                    <div class="p-2 g-signin2" data-theme="dark" data-width="300" data-height="44" data-longtitle="true"
                        data-onsuccess="signinWithGoogle"></div>
                    <a class="p-2" href="javascript:signinWithKakao()">
                        <img src="https://developers.kakao.com/tool/resource/static/img/button/login/full/ko/kakao_login_medium_wide.png"
                            width="300" alt="카카오 로그인 버튼" />
                    </a>
                    <br>
                    <a id="cancel-button" type="button" class="m-4 btn btn-secondary" href="/"
                        style="margin: auto">취소</a>
                </div>
            </div>
        </div>
    </div>
    <script type="module">
        // Auth

        import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js'
        import { getAuth, onAuthStateChanged, GoogleAuthProvider, signInWithCredential, signInWithCustomToken, signOut } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-auth.js"

        initializeApp({
            apiKey: "AIzaSyDevqbIK-lcqYdqbmfBAWGPrSHlJT7F0FQ",
            authDomain: "store-manager-5d527.firebaseapp.com",
            projectId: "store-manager-5d527",
            storageBucket: "store-manager-5d527.appspot.com",
            messagingSenderId: "36522862962",
            appId: "1:36522862962:web:8a9e9b88373a19add095eb",
            measurementId: "G-37DECVWLYX"
        })

        const auth = getAuth()



        // 구글

        function signinWithGoogle(googleUser) {
            const unsubscribe = onAuthStateChanged(auth, (firebaseUser) => {
                unsubscribe()

                if (!isUserEqual(googleUser, firebaseUser)) {
                    showLoading('Google과 연동하는 중이에요.')
                    const credential = GoogleAuthProvider.credential(googleUser.getAuthResponse().id_token)

                    signInWithCredential(auth, credential).then(() => {
                        redirectToHome()
                    }).catch((error) => {
                        showError(`
                            <div style="line-height: 130%">
                                구글 로그인 도중 오류가 발생했어요.<br>
                                다시 시도해주세요.
                            </div>
                        `, error.message)
                    })
                }
            })
        }

        function isUserEqual(googleUser, firebaseUser) {
            if (firebaseUser) {
                const providerData = firebaseUser.providerData
                for (let i = 0; i < providerData.length; i++) {
                    if (providerData[i].providerId === GoogleAuthProvider.PROVIDER_ID &&
                        providerData[i].uid === googleUser.getBasicProfile().getId()) {
                        return true
                    }
                }
            }
            return false
        }

        window.signinWithGoogle = signinWithGoogle



        // 카카오

        Kakao.init('09be02eb0b19acd8d1357081c02888bb')

        async function signinWithKakao() {
            showLoading('카카오와 연동하는 중이에요.')

            try {
                await Kakao.Auth.login()
                const res = await Kakao.API.request({ url: '/v2/user/me' })

                const json = await postAsync('/signin/kakao', {
                    email: res.kakao_account.email,
                    name: res.kakao_account.profile.nickname,
                })

                if (json.result == 'error') {
                    throw new Error(json.error)
                }

                await signInWithCustomToken(auth, json.token)
                redirectToHome()
            }
            catch (error) {
                showError('카카오 로그인 도중 오류가 발생했어요.', error.message)
            }
        }

        window.signinWithKakao = signinWithKakao



        // 자주 사용하는 함수

        function showErrorWithRefresh(html, errorMessage) {
            swal.fire({
                title: '이런!',
                html: html,
                icon: 'error',
                confirmButtonText: '어떻게 된거죠?',
                cancelButtonText: '새로고침',
                showCancelButton: true,
                allowOutsideClick: false,
                heightAuto: false,
            }).then((res) => {
                if (res.isConfirmed) {
                    swal.fire({
                        title: '원인',
                        html: errorMessage,
                        confirmButtonText: '새로고침',
                        showCancelButton: false,
                        allowOutsideClick: false,
                        heightAuto: false,
                    }).then(() => location.reload())
                }
            })
        }

        function showError(html, errorMessage) {
            swal.fire({
                title: '이런!',
                html: html,
                icon: 'error',
                confirmButtonText: '어떻게 된거죠?',
                cancelButtonText: '알겠어요',
                showCancelButton: true,
                heightAuto: false,
            }).then((res) => {
                if (res.isConfirmed) {
                    swal.fire({
                        title: '원인',
                        html: errorMessage,
                        confirmButtonText: '알겠어요',
                        showCancelButton: false,
                        heightAuto: false,
                    })
                }
            })
        }

        function showWarning(html) {
            swal.fire({
                title: '잠시만요!',
                html: html,
                confirmButtonText: '알겠어요',
                heightAuto: false,
            })
        }

        function showLoading(html) {
            swal.fire({
                title: '잠시만요!',
                html: html,
                showConfirmButton: false,
                allowOutsideClick: false,
                heightAuto: false,
            })
            swal.showLoading()
        }

        function postAsync(url, params = {}) {
            return new Promise((resolve, reject) => {
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(params),
                }).then(async (res) => {
                    resolve(await res.json())
                }).catch((error) => reject(error))
            })
        }

        function swalAsync(params) {
            return new Promise((resolve, reject) => {
                swal.fire(params).then((res) => resolve(res))
            })
        }

        function redirectToHome() {
            let form = document.createElement('form')
            form.style.visibility = 'hidden'
            form.method = 'GET'
            form.action = '/'
            document.body.appendChild(form)
            form.submit()
        }
    </script>
</body>

</html>