<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
        @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

        * {
            font-family: 'Jeju Gothic', serif;
        }

        body {
            height: 100vh;
        }

        .container {
            height: 100%;
        }

        table {
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

    <title>STORE MANAGER - {store_title}</title>
</head>

<body>
    <div class="container align-items-center justify-content-center">
        <p></p>
        <div class="d-flex" style="width: 680px; margin: auto;">
            <form action="/">
                <button type="submit" style="background: none; padding: 0px; border: none;">
                    <i id="home-icon" class="fa fa-home" style="font-size: 30px; margin: 1px 0px 0px 0px;"></i>
                </button>
            </form>
            <span style="margin: 0px 0px 0px 8px"></span>
            <h2 style="font-weight: 600;">{store_title}</h2>
        </div>
        <div class="d-flex p-2 border" style="width: 680px; margin: auto;">
            <select id="old-select" class="form-select w-auto" style="width: 250px !important; margin:auto;">
                <option value="0" selected>이전 데이터 선택</option>
            </select>
            <span style="margin: auto;"> → </span>
            <select id="new-select" class="form-select w-auto" style="width: 250px !important; margin: auto;">
                <option value="0" selected>최근 데이터 선택</option>
            </select>
            <span style="margin: auto;">또는</span>
            <button id="update-button" type="button" class="btn btn-primary" style="margin: auto;">업데이트</button>
        </div>
        <div class="container" id="result" style="width: 1120px" hidden>
            <p>&nbsp;</p>
            <div id="sort-form">
                <div class="form-check form-check-inline" style="padding-top: 4px;">
                    <input class="form-check-input" type="checkbox" id="highlight-changes" value="highlight-changes"
                        checked="checked">
                    <label class="form-check-label">상태가 바뀐 제품을 위로</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sort-radio" id="by-recent" value="by-recent"
                        checked="checked">
                    <label class="form-check-label">최신 순으로</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sort-radio" id="by-popularity"
                        value="by-popularity">
                    <label class="form-check-label">인기 순으로</label>
                </div>
                <div class="d-flex" style="float: right; margin: auto;">
                    <span id="product-amount" style="margin: auto; padding-bottom: 7px;"></span>
                    <div class="p-1"></div>
                    <div class="pb-2">
                        <button id="update-button" type="button" class="btn btn-primary"
                            style="margin: auto; padding: 4px 10px; font-size: 14px;" onclick="ExportToExcel();">
                            엑셀 파일 (.xlsx)&nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-download"
                                viewBox="0 0 16 16" width="16" height="16">
                                <path
                                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z">
                                </path>
                                <path
                                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <table id="result-table"></table>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
        <script>
            const storeUrl = '{store_url}';

            const loading = {
                title: '잠시만요!',
                showCancelButton: false,
                showConfirmButton: false,
                allowOutsideClick: false,
                heightAuto: false,
            };

            const failed = {
                title: '이런!',
                icon: 'error',
                confirmButtonText: '어떻게 된거죠?',
                cancelButtonText: '알겠어요',
                showCancelButton: true,
                heightAuto: false,
            };

            function showError(res, error) {
                if (res.isConfirmed) {
                    swal.fire({
                        title: '원인',
                        html: error,
                        confirmButtonText: '알겠어요',
                        showCancelButton: false,
                        heightAuto: false,
                    });
                }
            }

            var historyList = [];
            var oldProductList = [];
            var newProductList = [];
            var sortedProductList = [];

            var oldSelect = document.getElementById('old-select');
            var newSelect = document.getElementById('new-select');
            var updateButton = document.getElementById('update-button');
            var result = document.getElementById('result');
            var resultTable = document.getElementById('result-table');
            var sortForm = document.getElementById('sort-form');
            var highlightChanges = document.getElementById('highlight-changes');
            var byPopularity = document.getElementById('by-popularity');
            var byRecent = document.getElementById('by-recent');
            var productAmount = document.getElementById('product-amount');

            loading.html = '제품 기록들 목록을 불러오는 중이에요.';
            swal.fire(loading);

            function getOption(date) {
                var date = new Date(date);

                var text = date.toLocaleString('ko-KR');
                var value = Number(date);

                return new Option(text, value);
            }

            fetch(`${storeUrl}/historyList`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
            }).then(async (res) => {
                var json = await res.json();

                if (json.result != 'OK') {
                    failed.html = '제품 기록을 불러오지 못했어요.<br>새로고침을 시도해주세요.';
                    swal.fire(failed).then((res) => showError(res, json.error));
                    return;
                }

                historyList = json.historyList;
                historyList.sort((a, b) => b - a);

                for (var history of historyList) {
                    oldSelect.add(getOption(history));
                    newSelect.add(getOption(history));
                }

                swal.close();

                if (historyList.length == 0) {
                    swal.fire({
                        title: '처음이세요?',
                        html: '아직 제품 기록이 없는 스토어에요.<br>업데이트 버튼을 눌러 첫 기록을 남겨보세요!',
                        confirmButtonText: '알겠어요',
                        showCancelButton: false,
                    });
                }

                oldSelect.addEventListener('change', (event) => {
                    if (oldSelect.value == 0) {
                        oldProductList = [];
                        updateTable(newProductList = newProductList);
                        return;
                    }

                    if (oldSelect.value >= newSelect.value) {
                        newProductList = [];
                        newSelect.selectedIndex = 0;
                        updateTable();
                    }

                    loading.html = '제품 기록을 불러오는 중이에요.<br>제품이 많을 수록 오래 걸려요!';
                    swal.fire(loading);

                    function showOldSelectError(error) {
                        oldProductList = [];
                        oldSelect.selectedIndex = 0;

                        failed.html = '제품 기록을 불러오지 못했어요.<br>다시 시도해주세요.';
                        swal.fire(failed).then((res) => showError(res, error));
                    }

                    fetch(`${storeUrl}/${oldSelect.value}`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                    }).then(async (res) => {
                        var json = await res.json();

                        if (json.result != 'OK') {
                            showOldSelectError(json.error);
                            return;
                        }

                        oldProductList = json.history;
                        updateTable(oldProductList, newProductList);
                        swal.close();
                    }).catch((error) => showOldSelectError(error));
                });

                newSelect.addEventListener('change', (event) => {
                    if (newSelect.value == 0) {
                        newProductList = [];
                        updateTable(oldProductList = oldProductList);
                        return;
                    }

                    if (oldSelect.value >= newSelect.value) {
                        oldProductList = [];
                        oldSelect.selectedIndex = 0;
                        updateTable();
                    }

                    loading.html = '제품 기록을 불러오는 중이에요.<br>제품이 많을 수록 오래 걸려요!';
                    swal.fire(loading);

                    function showNewSelectError(error) {
                        newProductList = [];
                        newSelect.selectedIndex = 0;

                        failed.html = '제품 기록을 불러오지 못했어요.<br>다시 시도해주세요.';
                        swal.fire(failed).then((res) => showError(res, error));
                    }

                    fetch(`${storeUrl}/${newSelect.value}`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                    }).then(async (res) => {
                        var json = await res.json();

                        if (json.result != 'OK') {
                            showNewSelectError(json.error);
                            return;
                        }

                        newProductList = json.history;
                        updateTable(oldProductList, newProductList);
                        swal.close();
                    }).catch((error) => showNewSelectError(error));
                });

                updateButton.addEventListener('click', () => {
                    loading.html = '새로운 제품 기록을 쓰는 중이에요.<br>제품이 많을 수록 오래 걸려요!';
                    swal.fire(loading);

                    failed.html = '업데이트에 실패 하였어요.<br>다시 시도해주세요.';

                    fetch(`/${storeUrl}/update`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                    }).then(async (res) => {
                        var json = await res.json()

                        if (json.result != 'OK') {
                            swal.fire(failed).then((res) => showError(res, json.error));
                            return;
                        }

                        var updateDate = json.date;
                        historyList.unshift(updateDate);

                        swal.fire({
                            title: '업데이트 성공!',
                            html: '바로 확인 하시겠어요?',
                            icon: 'success',
                            heightAuto: false,
                            confirmButtonText: '네',
                            cancelButtonText: '됐어요!',
                            showCancelButton: true,
                        }).then(async (res) => {
                            var oldSelectValue = oldSelect.value;
                            var newSelectValue = newSelect.value;

                            while (oldSelect.options.length > 1) {
                                oldSelect.remove(1);
                            }

                            while (newSelect.options.length > 1) {
                                newSelect.remove(1);
                            }

                            for (var history of historyList.sort().reverse()) {
                                oldSelect.add(getOption(history));
                                newSelect.add(getOption(history));
                            }

                            oldSelect.value = oldSelectValue;

                            if (res.isConfirmed) {
                                newSelect.value = updateDate;
                                newProductList = json.productList;
                                updateTable(oldProductList, newProductList);
                            }
                            else {
                                newSelect.value = newSelectValue;
                            }
                        });
                    }).catch((error) => {
                        swal.fire(failed).then((res) => showError(res, json.error));
                    });
                });
            }).catch((error) => {
                swal.fire(failed).then((res) => showError(res, error));
            });

            sortForm.addEventListener('input', () => {
                updateTable(oldProductList, newProductList);
            });

            function updateTable(oldProductList = [], newProductList = []) {
                resultTable.innerHTML = '';
                productAmount.textContent = '제품 수량: ';

                if (newProductList.length == 0 && oldProductList.length == 0) {
                    result.hidden = true;
                    return;
                }

                result.hidden = false;

                var table = [];
                var deletedProductList = [...oldProductList];

                var recentProductId = -1;

                if (oldProductList.length > 0 & newProductList.length > 0) {
                    productAmount.textContent += `${oldProductList.length.toLocaleString('ko-KR')}개 → `;

                    for (var product of newProductList) {
                        var oldProduct = deletedProductList.find((element) => element.id == product.id);
                        deletedProductList = deletedProductList.filter((element) => element.id != product.id);

                        var row = {
                            id: product.id,
                            title: product.title,
                            price: '',
                            status: '',
                            popularityIndex: product.popularityIndex,
                            changed: false,
                        };

                        if (oldProduct == undefined) {
                            row.price = `${product.price.toLocaleString('ko-KR')}원`;
                            row.status = `신규(${product.isSoldOut ? '품절' : '판매중'})`;
                            row.changed = true;
                            table.push(row);

                            if (recentProductId > product.id) {
                                row.status = `판매중단 <br> → ${product.isSoldOut ? '품절' : '판매중'}`;
                            }

                            continue;
                        }
                        else if (recentProductId == -1) {
                            recentProductId = product.id;
                        }

                        if (oldProduct.price != product.price) {
                            row.price = `${oldProduct.price}원 <br> → `;
                            row.changed = true;
                        }

                        row.price += `${product.price.toLocaleString('ko-KR')}원`

                        if (oldProduct.isSoldOut != product.isSoldOut) {
                            row.status = `${oldProduct.isSoldOut ? '품절' : '판매중'} <br> → `;
                            row.changed = true;
                        }

                        row.status += product.isSoldOut ? '품절' : '판매중';
                        table.push(row);
                    }

                    for (var deletedProduct of deletedProductList) {
                        var row = {
                            id: deletedProduct.id,
                            title: deletedProduct.title,
                            price: `${deletedProduct.price.toLocaleString('ko-KR')}원`,
                            status: `${deletedProduct.isSoldOut ? '품절' : '판매중'} <br> → 판매중단`,
                            popularityIndex: deletedProduct.popularityIndex,
                            changed: true,
                        };
                        table.push(row);
                    }
                }
                else {
                    for (var product of oldProductList.length > 0 ? oldProductList : newProductList) {
                        var row = {
                            id: product.id,
                            title: product.title,
                            price: `${product.price.toLocaleString('ko-KR')}원`,
                            status: product.isSoldOut ? '품절' : '판매중',
                            popularityIndex: product.popularityIndex,
                            changed: true,
                        };
                        table.push(row);
                    }
                }

                productAmount.textContent += `${newProductList.length.toLocaleString('ko-KR')}개`;

                if (byRecent.checked) {
                    table.sort((a, b) => b.id - a.id);
                }
                else if (byPopularity.checked) {
                    table.sort((a, b) => a.popularityIndex - b.popularityIndex);
                }

                if (oldProductList.length > 0 & newProductList.length > 0) {
                    var sub = newProductList.length - oldProductList.length + deletedProductList.length;
                    productAmount.innerHTML += `(<span style="color: green">+${sub.toLocaleString('ko-KR')}</span> <span style="color: red">-${deletedProductList.length.toLocaleString('ko-KR')}</span>)`;

                    if (highlightChanges.checked) {
                        table.sort((a, b) => b.changed - a.changed);
                    }
                }

                var tr = document.createElement('tr');
                resultTable.appendChild(tr);

                var th1 = document.createElement('th');
                th1.innerHTML = '상품 코드';

                var th2 = document.createElement('th');
                th2.innerHTML = '상품명';

                var th3 = document.createElement('th');
                th3.innerHTML = '가격';

                var th4 = document.createElement('th');
                th4.innerHTML = '상태';

                for (var th of [th1, th2, th3, th4]) {
                    th.setAttribute('style', 'font-weight: 600');
                    tr.appendChild(th);
                }

                for (var row of table) {
                    var tr = document.createElement('tr');
                    resultTable.appendChild(tr);

                    var th1 = document.createElement('th');
                    th1.innerHTML = row.id

                    var a = document.createElement('a');

                    a.setAttribute('href', `https://smartstore.naver.com/${storeUrl}/products/${row.id}`);
                    a.setAttribute('target', '_blank');

                    if (row.title.length > 48) {
                        var titleSplit = row.title.split(' ');
                        a.innerHTML += titleSplit.slice(0, Math.ceil(titleSplit.length / 2) - 1).join(' ');
                        a.innerHTML += '<br>';
                        a.innerHTML += titleSplit.slice(Math.ceil(titleSplit.length / 2)).join(' ');
                    }
                    else {
                        a.innerHTML = row.title;
                    }

                    var th2 = document.createElement('th');
                    th2.appendChild(a);

                    var th3 = document.createElement('th');
                    th3.innerHTML = row.price;

                    var th4 = document.createElement('th');
                    th4.innerHTML = row.status;

                    for (var th of [th1, th2, th3, th4]) {
                        th.setAttribute('style', 'font-weight: 400');
                        tr.appendChild(th);
                    }
                }
            }

            function ExportToExcel(type, fn, dl) {
                var wb = XLSX.utils.table_to_book(resultTable, { sheet: '{store_title}' });
                var dateList = [];

                if (oldProductList.length > 0) {
                    dateList.push(new Date(Number(oldSelect.value)).toLocaleString('ko-KR'));
                }

                if (newProductList.length > 0) {
                    dateList.push(new Date(Number(newSelect.value)).toLocaleString('ko-KR'));
                }

                var filename = dateList.join(' → ');

                for (var row = 1; row <= newProductList.length; row++) {
                    var sheet = wb.Sheets['{store_title}'];

                    var idCell = sheet[`A${row + 1}`];
                    var titleCell = sheet[`B${row + 1}`];

                    titleCell.f = `=HYPERLINK("https://smartstore.naver.com/${storeUrl}/products/${idCell.v}", "${titleCell.v}")`;
                }

                return dl ?
                    XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                    XLSX.writeFile(wb, fn || (`{store_title} ${filename}.xlsx`));
            }
        </script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
</body>

</html>