<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
        @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

        * {
            font-family: 'Jeju Gothic', serif;
        }

        table {
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        .swal-option {
            display: grid !important;
        }

        .container {
            height: 100%;
        }

        body {
            background-color: white;
            color: black;
            font-size: 25px;
            height: 100vh;
        }
    </style>

    <title>STORE MANAGER</title>
    <link rel="icon" type="image/x-icon" href="https://imgur.com/YPhrrAJ.png">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

    <meta name="google-signin-client_id"
        content="36522862962-n5ba78aee74h5jggnppe3udfoupipu35.apps.googleusercontent.com">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email">

</head>

<body>
    <div class="container align-items-center justify-content-center">
        <p></p>
        <div class="d-flex" style="width: 680px; margin: auto;">
            <form action="/">
                <button type="submit" style="background: none; padding: 0px; border: none;">
                    <i id="home-icon" class="fa fa-home" style="font-size: 30px; margin: 1px 0px 0px 0px;"></i>
                </button>
            </form>
            <span style="margin: 0px 0px 0px 8px"></span>
            <h2 style="font-weight: 600;">{store_title}</h2>
            <i id="bookmark" class="far fa-star fa-lg" style="color: orange; margin: 8px 0px 0px 8px;"></i>
            <span style="margin: 6px 0px 0px 3px">즐겨찾기</span>
        </div>
        <div class="d-flex p-2 border" style="width: 680px; margin: auto;">
            <select id="old-select" class="form-select w-auto" style="width: 250px !important; margin:auto;">
                <option value="0" selected>이전 데이터 선택</option>
            </select>
            <span style="margin: auto;"> → </span>
            <select id="new-select" class="form-select w-auto" style="width: 250px !important; margin: auto;">
                <option value="0" selected>최근 데이터 선택</option>
            </select>
            <span style="margin: auto;">또는</span>
            <button id="update-button" type="button" class="btn btn-primary" style="margin: auto;">업데이트</button>
        </div>
        <div class="container" id="result" style="width: 1120px" hidden>
            <p>&nbsp;</p>
            <div id="sort-form">
                <div class="form-check form-check-inline" style="padding-top: 4px;">
                    <input class="form-check-input" type="checkbox" id="highlight-changes" value="highlight-changes"
                        checked="checked">
                    <label class="form-check-label">상태가 바뀐 제품을 위로</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sort-radio" id="by-recent" value="by-recent"
                        checked="checked">
                    <label class="form-check-label">최신 순으로</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sort-radio" id="by-popularity"
                        value="by-popularity">
                    <label class="form-check-label">인기 순으로</label>
                </div>
                <div class="d-flex" style="float: right; margin: auto;">
                    <span id="product-amount" style="margin: auto; padding-bottom: 7px;"></span>
                    <div class="p-1"></div>
                    <div class="pb-2">
                        <button id="excel-export-button" type="button" class="btn btn-primary"
                            style="margin: auto; padding: 4px 10px; font-size: 14px;">
                            엑셀 파일 (.xlsx)&nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-download"
                                viewBox="0 0 16 16" width="16" height="16">
                                <path
                                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z">
                                </path>
                                <path
                                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <table id="result-table"></table>
        </div>
        <div hidden>
            <!-- Start: Copyright 2022 TraceMyIP.org Service Code (024312-02072022)- DO NOT MODIFY //-->
            <div id="elemID031021" style="line-height:16px;text-align:center;position:relative;z-index:100000;">
                <script type="text/javascript"
                    src="//s3.tracemyip.org/tracker/lgUrl.php?stlVar2=1401&amp;rgtype=4684NR-IPIB&amp;pidnVar2=60431&amp;prtVar2=5&amp;scvVar2=12"></script>
                <noscript>
                    <a href="https://www.tracemyip.org/website-visitors-alerts.htm">
                        <img src="//s3.tracemyip.org/tracker/1401/4684NR-IPIB/60431/5/12/ans/"
                            alt="Web site email alerts" style="border:0px;">
                    </a>
                </noscript>
            </div>
            <!-- End: TraceMyIP.org Service Code //-->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
        <script type="module">
            import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js';
            import { getAuth, onAuthStateChanged, signInWithCredential, GoogleAuthProvider, signOut } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-auth.js";

            initializeApp({
                apiKey: "AIzaSyDevqbIK-lcqYdqbmfBAWGPrSHlJT7F0FQ",
                authDomain: "store-manager-5d527.firebaseapp.com",
                projectId: "store-manager-5d527",
                storageBucket: "store-manager-5d527.appspot.com",
                messagingSenderId: "36522862962",
                appId: "1:36522862962:web:8a9e9b88373a19add095eb",
                measurementId: "G-37DECVWLYX"
            });

            const auth = getAuth();
            let uid;

            onAuthStateChanged(auth, (user) => {
                if (user) {
                    uid = user.uid;
                } else {
                    swal.fire({
                        title: '잠시만요!',
                        html: '이용하기 전에 로그인 해주세요!',
                        confirmButtonText: '메인으로',
                        allowOutsideClick: false,
                        showCancelButton: false,
                        heightAuto: false,
                    }).then((res) => {
                        let form = document.createElement('form');
                        form.style.visibility = 'hidden';
                        form.method = 'GET';
                        form.action = '/';
                        document.body.appendChild(form);
                        form.submit();
                    });
                }
            });

            const storeUrl = '{store_url}';
            const endpoint = storeUrl.split('/').pop();

            function showError(res, error) {
                if (res.isConfirmed) {
                    swal.fire({
                        title: '원인',
                        html: error,
                        confirmButtonText: '알겠어요',
                        showCancelButton: false,
                        heightAuto: false,
                    });
                }
            }

            let table = [];
            let loadingTable = [];
            let historyList = [];
            let oldProductList = [];
            let newProductList = [];
            let sortedProductList = [];

            const homeIcon = document.getElementById('home-icon');
            const bookmark = document.getElementById('bookmark');
            const oldSelect = document.getElementById('old-select');
            const newSelect = document.getElementById('new-select');
            const updateButton = document.getElementById('update-button');
            const result = document.getElementById('result');
            const resultTable = document.getElementById('result-table');
            const sortForm = document.getElementById('sort-form');
            const highlightChanges = document.getElementById('highlight-changes');
            const byPopularity = document.getElementById('by-popularity');
            const byRecent = document.getElementById('by-recent');
            const productAmount = document.getElementById('product-amount');
            const excelExportButton = document.getElementById('excel-export-button');

            swal.fire({
                title: '잠시만요!',
                html: '제품 기록들 목록을 불러오는 중이에요.',
                showCancelButton: false,
                showConfirmButton: false,
                allowOutsideClick: false,
                heightAuto: false,
            });

            if (document.cookie.trim().length > 0) {
                let bookmarks = [];

                for (let splitCookies of document.cookie.split(/; */)) {
                    let splitCookie = splitCookies.split('=');

                    if (new RegExp('^[a-z0-9_-]+$').test(splitCookie[0])) {
                        let cookie = JSON.parse(splitCookie[1]);
                        cookie.url = splitCookie[0];
                        bookmarks.push(cookie);
                    }
                }

                bookmarks.sort((a, b) => a.bookmarkTime - b.bookmarkTime);
            }

            function bookmarkOn() {
                bookmark.classList.remove('far');
                bookmark.classList.add('fas');
            }

            function bookmarkOff() {
                bookmark.classList.remove('fas');
                bookmark.classList.add('far');
            }

            let isBookmarked = false;
            let bookmarkCount = 0;

            for (let splitCookies of document.cookie.split(/; */)) {
                bookmarkCount++;
                let splitCookie = splitCookies.split('=');
                if (splitCookie[0] == endpoint) {
                    isBookmarked = true;
                    bookmarkOn();
                }
            }

            bookmark.addEventListener('click', () => {
                if (isBookmarked) {
                    bookmarkOff();
                    bookmarkCount--;
                    document.cookie = `${endpoint}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;

                    isBookmarked = false;
                }
                else {
                    let now = new Date();

                    if (bookmarkCount >= 10) {
                        swal.fire({
                            title: '잠시만요!',
                            html: `
                                <div style="line-height: 130%;">
                                    즐겨찾기는 10개까지 등록할 수 있어요!<br>
                                    즐겨찾기 하나를 해제하고 등록 하시겠어요?
                                </div>
                            `,
                            showCancelButton: true,
                            confirmButtonText: '즐겨찾기 선택',
                            cancelButtonText: '안 돼요!',
                            heightAuto: false,
                        }).then((res) => {
                            if (res.isConfirmed) {
                                let inputOptions = new Promise((resolve) => {
                                    let options = {};

                                    for (let bookmark of bookmarks) {
                                        options[bookmark.url] = bookmark.title;
                                    }

                                    setTimeout(() => resolve(options), 1000)
                                });

                                let { value: color } = Swal.fire({
                                    title: '해제할 즐겨찾기',
                                    input: 'radio',
                                    customClass: { input: 'swal-option' },
                                    inputOptions: inputOptions,
                                    showCancelButton: true,
                                    confirmButtonText: '선택',
                                    cancelButtonText: '안 돼요!',
                                    inputValidator: (value) => {
                                        if (value) {
                                            bookmarkOn();
                                            document.cookie = `${value}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
                                            document.cookie = `${endpoint}=${JSON.stringify({ title: '{store_title}', bookmarkTime: now.valueOf() })};path=/`;

                                            isBookmarked = true;
                                        }
                                    }
                                });
                            }
                        });
                    }
                    else {
                        bookmarkOn();
                        bookmarkCount++;
                        document.cookie = `${endpoint}=${JSON.stringify({ title: '{store_title}', bookmarkTime: now.valueOf() })};path=/`;

                        isBookmarked = true;
                    }
                }
            });

            function getOption(value) {
                let text = value.toString();
                text = `${text.slice(0, 4)}. ${text.slice(4, 6)}. ${text.slice(6, 8)}. ${text.slice(8, 10)}:${text.slice(10, 12)}`;
                return new Option(text, value);
            }

            fetch(`/history`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ store_url: storeUrl }),
            }).then(async (res) => {
                let json = await res.json();

                if (json.result != 'OK') {
                    swal.fire({
                        title: '이런!',
                        html: `
                            <div style="line-height: 130%;">
                                제품 기록을 불러오지 못했어요.<br>
                                새로고침을 시도해주세요.
                            </div>
                        `,
                        icon: 'error',
                        confirmButtonText: '어떻게 된거죠?',
                        cancelButtonText: '알겠어요',
                        showCancelButton: true,
                        heightAuto: false,
                    }).then((res) => showError(res, json.error));
                    return;
                }

                historyList = json.history;
                historyList.sort((a, b) => b - a);

                for (let history of historyList) {
                    oldSelect.add(getOption(history));
                    newSelect.add(getOption(history));
                }

                swal.close();

                if (historyList.length == 0) {
                    swal.fire({
                        title: '처음이세요?',
                        html: '<div style="line-height: 130%;">아직 제품 기록이 없는 스토어에요.<br>업데이트 버튼을 눌러 첫 기록을 남겨보세요!</div>',
                        confirmButtonText: '알겠어요',
                        showCancelButton: false,
                    });
                }

                oldSelect.addEventListener('change', () => {
                    if (oldSelect.value == 0) {
                        oldProductList = [];
                        updateTable(newProductList = newProductList);
                        return;
                    }

                    if (oldSelect.value >= newSelect.value) {
                        newProductList = [];
                        newSelect.selectedIndex = 0;
                        updateTable();
                    }

                    swal.fire({
                        title: '잠시만요!',
                        html: `
                            <div style="line-height: 130%;">
                                제품 기록을 불러오는 중이에요.<br>
                                제품이 많을 수록 오래 걸려요!
                            </div>
                        `,
                        showCancelButton: false,
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        heightAuto: false,
                    });

                    function showOldSelectError(error) {
                        oldProductList = [];
                        oldSelect.selectedIndex = 0;

                        swal.fire({
                            title: '이런!',
                            html: `
                                <div style="line-height: 130%;">
                                    제품 기록을 불러오지 못했어요.<br>
                                    다시 시도해주세요.
                                </div>
                            `,
                            icon: 'error',
                            confirmButtonText: '어떻게 된거죠?',
                            cancelButtonText: '알겠어요',
                            showCancelButton: true,
                            heightAuto: false,
                        }).then((res) => showError(res, error));
                    }

                    fetch(`/productList`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            store_url: storeUrl,
                            time: oldSelect.value,
                        }),
                    }).then(async (res) => {
                        let json = await res.json();

                        if (json.result != 'OK') {
                            showOldSelectError(json.error);
                            return;
                        }

                        oldProductList = json.productList;
                        updateTable(oldProductList, newProductList);
                        swal.close();
                    }).catch((error) => showOldSelectError(error));
                });

                newSelect.addEventListener('change', () => {
                    if (newSelect.value == 0) {
                        newProductList = [];
                        updateTable(oldProductList = oldProductList);
                        return;
                    }

                    if (oldSelect.value >= newSelect.value) {
                        oldProductList = [];
                        oldSelect.selectedIndex = 0;
                        updateTable();
                    }

                    swal.fire({
                        title: '잠시만요!',
                        html: `
                            <div style="line-height: 130%;">
                                제품 기록을 불러오는 중이에요.<br>
                                제품이 많을 수록 오래 걸려요!
                            </div>
                        `,
                        showCancelButton: false,
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        heightAuto: false,
                    });

                    function showNewSelectError(error) {
                        newProductList = [];
                        newSelect.selectedIndex = 0;

                        swal.fire({
                            title: '이런!',
                            html: `
                                <div style="line-height: 130%;">
                                    제품 기록을 불러오지 못했어요.<br>
                                    다시 시도해주세요.
                                </div>
                            `,
                            icon: 'error',
                            confirmButtonText: '어떻게 된거죠?',
                            cancelButtonText: '알겠어요',
                            showCancelButton: true,
                            heightAuto: false,
                        }).then((res) => showError(res, error));
                    }

                    fetch(`/productList`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            store_url: storeUrl,
                            time: newSelect.value,
                        }),
                    }).then(async (res) => {
                        let json = await res.json();

                        if (json.result != 'OK') {
                            showNewSelectError(json.error);
                            return;
                        }

                        newProductList = json.productList;
                        updateTable(oldProductList, newProductList);
                        swal.close();
                    }).catch((error) => showNewSelectError(error));
                });

                updateButton.addEventListener('click', () => {
                    swal.fire({
                        title: '잠시만요!',
                        html: `
                            <div style="line-height: 130%;">
                                새로운 제품 기록을 쓰는 중이에요.<br>
                                제품이 많을 수록 오래 걸려요!
                            </div>
                        `,
                        showCancelButton: false,
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        heightAuto: false,
                    });

                    fetch(`/smartstore/update`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            store_url: storeUrl,
                            uid: uid,
                        }),
                    }).then(async (res) => {
                        let json = await res.json()

                        if (json.result != 'OK') {
                            swal.fire({
                                title: '이런!',
                                html: `
                                    <div style="line-height: 130%;">
                                        업데이트에 실패 하였어요.<br>
                                        다시 시도해주세요.
                                    </div>
                                `,
                                icon: 'error',
                                confirmButtonText: '어떻게 된거죠?',
                                cancelButtonText: '알겠어요',
                                showCancelButton: true,
                                heightAuto: false,
                            }).then((res) => showError(res, json.error));
                            return;
                        }

                        let time = json.time;

                        if (historyList.includes(time)) {
                            swal.fire({
                                title: '잠시만요!',
                                html: `
                                    <div style="line-height: 130%;">
                                        이미 업데이트 되어있어요.<br>
                                        업데이트는 1분마다 하실 수 있어요.
                                    </div>
                                `,
                                confirmButtonText: '알겠어요',
                                heightAuto: false,
                            });
                            return;
                        }

                        historyList.unshift(time);

                        swal.fire({
                            title: '업데이트 성공!',
                            html: '바로 확인 하시겠어요?',
                            icon: 'success',
                            heightAuto: false,
                            confirmButtonText: '네',
                            cancelButtonText: '됐어요!',
                            showCancelButton: true,
                        }).then(async (res) => {
                            let oldSelectValue = oldSelect.value;
                            let newSelectValue = newSelect.value;

                            while (oldSelect.options.length > 1) {
                                oldSelect.remove(1);
                            }

                            while (newSelect.options.length > 1) {
                                newSelect.remove(1);
                            }

                            for (let history of historyList.sort().reverse()) {
                                oldSelect.add(getOption(history));
                                newSelect.add(getOption(history));
                            }

                            oldSelect.value = oldSelectValue;

                            if (res.isConfirmed) {
                                newSelect.value = time;
                                newProductList = json.productList;
                                updateTable(oldProductList, newProductList);
                            }
                            else {
                                newSelect.value = newSelectValue;
                            }
                        });
                    }).catch((error) => {
                        swal.fire({
                            title: '이런!',
                            html: `
                                <div style="line-height: 130%;">
                                    업데이트에 실패 하였어요.<br>
                                    다시 시도해주세요.
                                </div>
                            `,
                            icon: 'error',
                            confirmButtonText: '어떻게 된거죠?',
                            cancelButtonText: '알겠어요',
                            showCancelButton: true,
                            heightAuto: false,
                        }).then((res) => showError(res, error));
                    });
                });
            }).catch((error) => {
                swal.fire({
                    title: '이런!',
                    html: `
                        <div style="line-height: 130%;">
                            제품 기록을 불러오지 못했어요.<br>
                            새로고침을 시도해주세요.
                        </div>
                    `,
                    icon: 'error',
                    confirmButtonText: '어떻게 된거죠?',
                    cancelButtonText: '알겠어요',
                    showCancelButton: true,
                    heightAuto: false,
                }).then((res) => showError(res, error));
            });

            sortForm.addEventListener('input', () => {
                updateTable(oldProductList, newProductList);
            });

            function updateTable(oldProductList = [], newProductList = []) {
                resultTable.innerHTML = '';
                productAmount.textContent = '제품 수량: ';

                if (newProductList.length == 0 && oldProductList.length == 0) {
                    result.hidden = true;
                    return;
                }

                result.hidden = false;

                table = [];
                let deletedProductList = [...oldProductList];
                let productList = newProductList.length > 0 ? newProductList : oldProductList;

                let recentProductId = -1;

                if (oldProductList.length > 0 & newProductList.length > 0) {
                    productAmount.textContent += `${oldProductList.length.toLocaleString('ko-KR')}개 → `;

                    for (let product of newProductList) {
                        let oldProduct = deletedProductList.find((element) => element.id == product.id);
                        deletedProductList = deletedProductList.filter((element) => element.id != product.id);

                        let row = {
                            id: product.id,
                            title: product.title,
                            price: '',
                            status: '',
                            popularityIndex: product.popularityIndex,
                            changed: false,
                        };

                        if (oldProduct == undefined) {
                            row.price = `${product.price.toLocaleString('ko-KR')}원`;
                            row.status = `신규(${product.isSoldOut ? '품절' : '판매중'})`;
                            row.changed = true;
                            table.push(row);

                            if (recentProductId > product.id) {
                                row.status = `판매중단 <br> → ${product.isSoldOut ? '품절' : '판매중'}`;
                            }

                            continue;
                        }
                        else if (recentProductId == -1) {
                            recentProductId = product.id;
                        }

                        if (oldProduct.price != product.price) {
                            row.price = `${oldProduct.price}원 <br> → `;
                            row.changed = true;
                        }

                        row.price += `${product.price.toLocaleString('ko-KR')}원`

                        if (oldProduct.isSoldOut != product.isSoldOut) {
                            row.status = `${oldProduct.isSoldOut ? '품절' : '판매중'} <br> → `;
                            row.changed = true;
                        }

                        row.status += product.isSoldOut ? '품절' : '판매중';
                        table.push(row);
                    }

                    for (let deletedProduct of deletedProductList) {
                        let row = {
                            id: deletedProduct.id,
                            title: deletedProduct.title,
                            price: `${deletedProduct.price.toLocaleString('ko-KR')}원`,
                            status: `${deletedProduct.isSoldOut ? '품절' : '판매중'} <br> → 판매중단`,
                            popularityIndex: deletedProduct.popularityIndex,
                            changed: true,
                        };
                        table.push(row);
                    }
                }
                else {
                    for (let product of productList) {
                        let row = {
                            id: product.id,
                            title: product.title,
                            price: `${product.price.toLocaleString('ko-KR')}원`,
                            status: product.isSoldOut ? '품절' : '판매중',
                            popularityIndex: product.popularityIndex,
                            changed: true,
                        };
                        table.push(row);
                    }
                }

                productAmount.textContent += `${productList.length.toLocaleString('ko-KR')}개`;

                if (byRecent.checked) {
                    table.sort((a, b) => b.id - a.id);
                }
                else if (byPopularity.checked) {
                    table.sort((a, b) => a.popularityIndex - b.popularityIndex);
                }

                if (oldProductList.length > 0 & newProductList.length > 0) {
                    let newProductAmount = newProductList.length - oldProductList.length + deletedProductList.length;
                    productAmount.innerHTML += `(<span style="color: green">+${newProductAmount}</span><span style="color: red"> -${deletedProductList.length}</span>)`;

                    if (highlightChanges.checked) {
                        table.sort((a, b) => b.changed - a.changed);
                    }
                }

                let tr = document.createElement('tr');
                resultTable.appendChild(tr);

                let th1 = document.createElement('th');
                th1.innerHTML = '상품 코드';

                let th2 = document.createElement('th');
                th2.innerHTML = '상품명';

                let th3 = document.createElement('th');
                th3.innerHTML = '가격';

                let th4 = document.createElement('th');
                th4.innerHTML = '상태';

                for (let th of [th1, th2, th3, th4]) {
                    th.setAttribute('style', 'font-weight: 600');
                    tr.appendChild(th);
                }

                loadingTable = table.slice(50);

                for (let row of table.slice(0, 50)) {
                    let tr = document.createElement('tr');
                    resultTable.appendChild(tr);

                    let th1 = document.createElement('th');
                    th1.innerHTML = row.id

                    let a = document.createElement('a');

                    a.setAttribute('href', `${storeUrl}/products/${row.id}`);
                    a.setAttribute('target', '_blank');

                    if (row.title.length > 48) {
                        let titleSplit = row.title.split(' ');
                        a.innerHTML += titleSplit.slice(0, Math.ceil(titleSplit.length / 2) - 1).join(' ');
                        a.innerHTML += '<br>';
                        a.innerHTML += titleSplit.slice(Math.ceil(titleSplit.length / 2)).join(' ');
                    }
                    else {
                        a.innerHTML = row.title;
                    }

                    let th2 = document.createElement('th');
                    th2.appendChild(a);

                    let th3 = document.createElement('th');
                    th3.innerHTML = row.price;

                    let th4 = document.createElement('th');
                    th4.innerHTML = row.status;

                    for (let th of [th1, th2, th3, th4]) {
                        th.setAttribute('style', 'font-weight: 400');
                        tr.appendChild(th);
                    }
                }
            }

            function loadTable() {
                if (loadingTable.length > 0) {
                    loadingTable = loadingTable.slice(50);
                }
                else {
                    return;
                }

                for (let row of loadingTable.slice(0, 50)) {
                    let tr = document.createElement('tr');
                    resultTable.appendChild(tr);

                    let th1 = document.createElement('th');
                    th1.innerHTML = row.id

                    let a = document.createElement('a');

                    a.setAttribute('href', `${storeUrl}/products/${row.id}`);
                    a.setAttribute('target', '_blank');

                    if (row.title.length > 48) {
                        let titleSplit = row.title.split(' ');
                        a.innerHTML += titleSplit.slice(0, Math.ceil(titleSplit.length / 2) - 1).join(' ');
                        a.innerHTML += '<br>';
                        a.innerHTML += titleSplit.slice(Math.ceil(titleSplit.length / 2)).join(' ');
                    }
                    else {
                        a.innerHTML = row.title;
                    }

                    let th2 = document.createElement('th');
                    th2.appendChild(a);

                    let th3 = document.createElement('th');
                    th3.innerHTML = row.price;

                    let th4 = document.createElement('th');
                    th4.innerHTML = row.status;

                    for (let th of [th1, th2, th3, th4]) {
                        th.setAttribute('style', 'font-weight: 400');
                        tr.appendChild(th);
                    }
                }
            }

            window.onscroll = (e) => {
                if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight) {
                    loadTable();
                }
            };

            excelExportButton.addEventListener('click', () => {
                let ws = XLSX.utils.json_to_sheet(table);
                let dateList = [];

                if (oldProductList.length > 0) {
                    let text = oldSelect.value.toString();
                    dateList.push(`${text.slice(0, 4)}. ${text.slice(4, 6)}. ${text.slice(6, 8)}. ${text.slice(8, 10)}_${text.slice(10, 12)}`);
                }

                if (newProductList.length > 0) {
                    let text = newSelect.value.toString();
                    dateList.push(`${text.slice(0, 4)}. ${text.slice(4, 6)}. ${text.slice(6, 8)}. ${text.slice(8, 10)}_${text.slice(10, 12)}`);
                }

                let filename = dateList.join(' → ');

                for (let row = 0; row < table.length; row++) {
                    let idCell = ws[`A${row + 1}`];
                    let titleCell = ws[`B${row + 1}`];

                    titleCell.f = `=HYPERLINK("${storeUrl}/products/${idCell.v}", "${titleCell.v}")`;
                }

                let wb = XLSX.utils.book_new();
                XLSX.utils.book_append_sheet(wb, ws, '{store_title}');
                XLSX.writeFile(wb, `{store_title} ${filename}.xlsx`);
            });

            function s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }
        </script>
</body>

</html>